#sidebar.col-xs-3.col-sm-2.col-sm-offset-1
  #blog-info.side-box
    .img-div
      =image_tag("MattWorking1.jpg")
    .description
      %p
      %p{:align => "left"}
        %strong Matt Lashinsky
        %p 
          Welcome to my personal blog! Nice to see you. Here I talk about various projects 
          I'm working on, trips I've taken, or food I've devoured. I try to keep things informative, 
          as well as interesting. Any comments you have, feel free to hit me up. Enjoy the photos and stories. 
        %p Connect with me on social media if you want to stay in touch.
        %a{:href => "https://plus.google.com/u/0/117868198943421001531/"} Google +
        %br
        %a{:href => "https://www.facebook.com/matt.lashinsky"} Facebook
        %br
        %a{:href => "https://twitter.com/MattALashinsky"} Twitter
        %br
  #search
    %form#search-form{:action => "/search", :method => "get"}
      %span.left
      %input{:name => "q", :type => "text", :value => "Search"}
        %span.right