/*==================================================================*/
/* ==========================: GENERAL CSS :=============================*/
.wrapper{
	margin-top: -20px;
}
.aspectwrapper {
  display: inline-block; /* shrink to fit */
  width: 100%;           /* whatever width you like */
  position: relative;    /* so .content can use position: absolute */
}
.aspectwrapper::after {
  padding-top: 56.25%;    /* percentage of containing block _width_ */
  display: block;
  content: '';
}
.content {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;  /* follow the parent's edges */
  outline: thin dashed green;            /* just so you can see the box */
}

.h1-5{
	font-size: 40px;
}
.centered{
	margin: auto;
	color: blue;
}
.footer{
	background-color: rgb(238, 238, 238);
}

.center{
	margin: auto;
	width: 99%;
}
.title{
	font-family: 'Poiret One', cursive;
}
.section-header{
	padding: 0px 0px 30px 0px;
}
.section-title{
	font-family: 'Cinzel', serif;
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
}
.section-subtitle{
	font-size: 12px;
	font-family:'Cinzel', serif;
	font-style: italic;
	color: #fff;
	text-shadow: none;
}
.subsection-title{
	font-family: 'Poiret One', cursive;
}
.subsection-title hr{
	width: 10%;
	margin: auto;
	color: #44A0CC;
	opacity: .5;
}
.subsection-subtitle{
	font-size: 14px;
	color: gray;
	text-shadow:none;
}
/*==================================================================*/
/* ==========================: NAVBAR :=============================*/
nav{
	font-family: 'Cinzel', serif;
}
.navbar-default{
	background-color:transparent;
	border:none;
    color:#fff;
    transition: all 0.25s ease;
    position:fixed;
    top:0;
    width:100%;
    z-index: 1;
}	

@media (min-width: 930px) {
	.navbar-default{
		padding: 30px 150px;
	}

}
@media(max-width: 767px){
	.navbar-collapse{
		background-color: #fff;
		border-radius: 4px;
		width: 150px;
		float:right;
		box-shadow: -5px 5px 10px #888888;
	}
	.navbar-default .navbar-nav .active a {
	    background-color: transparent;
	    font-size: 20px;
	    color: #44A0CC !important;
	}
	.navbar-default .navbar-nav .active .dropdown {
	    background-color: transparent;
	    font-size: 20px;
	    color: #44A0CC !important;
	}

	.navbar-default .navbar-nav .open.active  .dropdown-menu>li>a {
    color: #777 !important;
    font-size: 13px;
	}
	.navbar-default .navbar-nav .open.active  .dropdown-menu>li>a:hover {
    font-size: 16px;
    color: black !important;
   
	}

	.dropdown.open .dropdown-toggle{
		color: black !important;
	}
	.navbar-nav>li>a:hover{
		background-color: gray;
	}

}

.navbar-color, .custom-collapse {
  background: #FFF;
  box-shadow: 0 0 4px rgba(0, 0, 0, .2);
  padding: 0;
}

.scroll-nav{
	background-color: #44A0CC;
	height: 60px;
	padding-top:5px;
	text-shadow: none;
	border-bottom: 1px solid black;
	box-shadow: 0px 0px 30px 1px black;
	z-index: 4;
}
.scroll-nav-link{
	color: #494949;
}

.navbar-default .navbar-nav .active a{
	background-color: transparent;
	font-size: 20px;
	color: #FFF;
}
.navbar-default .navbar-nav .active a:hover {
	background-color: transparent;
	color: #fff;
}


.navbar-default .navbar-nav .dropdown.active.open ul a{
	font-size: 14px;
	color: #333;
}
.navbar-default .navbar-nav .dropdown.active.open ul a:hover{
	background-color: #F5F5F5;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background-color: transparent;
	font-size: 18px;
	color: #FFF;
}
.navbar-default .navbar-nav>.open>a:hover{
	background-color: transparent;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #333;
    font-size: 20px;
    background-color: transparent;
}
.dropdown-menu hr{
	margin-top: -5px;
	margin-bottom: 2px;
}


/*==================================================================*/
/* ==========================: COVER :=============================*/
#cover{ 
	margin: 0 auto; 
	position: relative; 
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	padding: 200px 0px 200px 0px;
	color:#fff;
	font-family: 'Cinzel', serif;
	height: 800px;
}

#cover>.container{
	padding-top: 10px;
}

.hello{
	position: relative;
	margin-right: auto;
	margin-left: auto;
}
.hello>h1{
	font-size: 40px;
}
.hello>h4{
	font-size: 18px;
}

/*@media(min-width: 480px){
	#cover{
		height: calc(480px*2/3);
	}
}
@media(min-width: 768px){
	#cover{
		height: calc(768px*2/3);
	}
}*/
/*@media(min-width: 992px){
	#cover{
		height: calc(992px*2/3);
	}
}*/
@media(min-width: 1280px) {
	#cover{
		height: calc(1280px*2/3);
	}
	#cover>.container{
	padding-top: 100px;
	}
	.hello > h1{
	font-size: 60px;
	}
	.hello > h4{
	font-size: 22px;
	}
}
@media(min-width: 1440px){
	#cover{
		height: calc(1440px*2/3);
	}
	#cover>.container{
	padding-top: 150px;
	}
}

@media(min-width: 1600px){
	#cover{
		height: calc(1600px*2/3);
	}
	#cover>.container{
	padding-top: 200px;
	}
}
@media(min-width: 1920px){
	#cover{
		height: calc(1920px*2/3);
	}
	#cover>.container{
	padding-top: 250px;
	}
}
@media(min-width: 2048px){
	#cover{
		height: calc(2048px*2/3);
	}
	#cover>.container{
	padding-top: 300px;
	}
}
/*
@media(min-width: 2560px){
	#cover{
		height: calc(2560px*2/3);
	}
} */


.row{
	margin: auto;
}
.title{
	color:#44A0CC;
}
/*==================================================================*/
/* ==========================: ABOUT :==============================*/
#about{ 
	padding: 100px 0;
	background-color: #fff;
	color: #494949;
	text-shadow: none;
}	
#about .btn{
	background-color: #FF6E3B;
	color: #fff;
}
#about .section-title{
	color: #44A0CC;
}

#about .section-subtitle{
	color: #44A0CC;
}
#about .section-content{
	margin-left: 20px;
	margin-right: 20px;
}
#about p a{
	color: #44A0CC;
}

.about-column img{
	width: 200px;
	height: 200px;
}
/*==================================================================*/
/* ==========================: SKILLS :=============================*/

.gauge{
	display: inline-block;
	width: 185px;
	margin: 5px 5px 50px 5px;
}

@media (max-width: 1200px) {
	.gauge{
		width: 155px;
		margin: 5px 5px 20px 5px;
	}
}

@media (max-width: 600px){
	.gauge{
		width: 100px;
		margin: 5px;
	}
}

.gauge p{
	font-family: Helvetica;
	font-size: 12px;
	color: #fff;
}

#skills{
	color: #fff;
	padding-top: 100px;
	padding-bottom: 100px;
}
.section-header{
	margin-bottom: 20px;
}
#skills hr{
	color:#494949;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	margin-top: 50px;
	opacity: .5;
}

.bar{
	display: block;
    position: relative;
    width: 100%;
    height: 25px;
    margin-top: 3px;
    border-radius: 2px;
    background-color: #a1a1a1;
}

.box{
	z-index: 3;
    position: absolute;
    top: 40%;
    right: calc(100% - 40px);
    width: 45px;
    height: 45px;
    line-height: 40px;
    margin-top: -20px;
    background-color: #FF6E3B;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    border-radius: 4px;
    box-shadow: 3px 3px 10px #0d0c0d;
    text-shadow:none;
    text-align: center;
    font-family: 'Poiret One', serif;
}

.bar-chart .item{
	position: relative;
    margin-bottom: 80px;
    width: 100%;
    text-align: left;
}
.bar-chart .item h4{
	font-family: 'Poiret One', cursive;
	margin-bottom: 20px;

}
.bar-fill{
	z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 1%;
    height: 100%;
    border-radius: 2px;
    background-color: #44A0CC;
}


/*==================================================================*/
/* ==========================: RESUME :=============================*/
#resume{ 
	background: #494949 50% 0 fixed; 
	height: auto;  
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	padding: 100px 0;
	color: #fff;
	text-shadow: none;
}	

.resume-item{
	position: relative;
    width: 100%;
    padding: 10px;
    margin:40px 0px;
}
.resume-year{
	position: absolute;
	left: 0px;
	top: 0px;
	width:120px;
	height: 40px;
	background-color: #44A0CC;
	border-radius: 4px;
	font-size: 15px;
	text-align: center;
	line-height: 40px
}
.resume-btn .glyphicon{
	position: absolute;
	left: 150px;
	top: 0px;
	width:40px;
	height: 40px;
	background-color: #FF6E3B; 
	border-radius: 4px;
	line-height: 40px;
	font-size: 20px;

}
.resume-panel{
	width: calc(100% - 210px);
    margin-left: 210px;
	background: transparent;
    border: 1px solid #6e6e6e;
    border-radius: 0px;
    top: -10px;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 600px){
	.resume-panel{
		font-size: 12px;
		margin-left: 120px;
		width: calc(100% - 110px);
	}
	.resume-year{
		left:0px;
		font-size: 11px;
		width: 70px;
	}
	.resume-btn .glyphicon{
		left:80px;
	}
	.resume-title {
		font-size: 15px;
	}
	.panel-body p{
		margin: 0px;
	}
}

.resume-title{
	text-transform: uppercase;
}

.resume-tags{
	margin-left: -10px;
	
}
/*==================================================================*/
/* ========================: BLOG SECTION :===========================*/

#blog{
	background: url(../images/blackPattern.jpg) fixed;
	height: auto;
	margin: auto;
	color: #fff;
	text-shadow: none;
}


#blog img{
	border: #fff solid 1px;
	height:	200px;
	width: auto;
	/*left: 90px;*/
}
.featurette-divider{
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}

@media (max-width: 600px){
	.featurette-heading {
	    margin-top: 20px;
	}
	.featurette-divider{
		margin-top:40px;
		margin-bottom: 40px;
	}
	#blog img{
		margin: auto;
	}
}
.blog{
	margin-top: 100px;
	margin-bottom: 100px;
}

#blog img:hover{
	height: 210px;
}


/*=======================================================================*/
/* ========================: CONTACT SECTION :===========================*/
#contact{
	background-color: #111;
	height: auto;
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	font-family: 'Lora', serif;
}
.contact-info h3{
	color: #fff;
	text-shadow: none;
	font-family: 'Lora', serif;

}
.contact-info h4{
	color: #fff;
	text-shadow: none;
	font-family: 'Lora', serif;
}
.contact-info p{
	color: #fff;
	text-shadow: none;
	font-weight: 100;
	text-align: center;
}
.contact-info a{
	border-bottom: 1px dashed gray;
}
.contact-social-media{
	padding-top: 50px;
	padding-bottom: 50px;
}

.contact-image img{
  margin: auto;
  padding: auto;
  float: left;
  display: block;
  float: none;
  position: relative;
  width: 100%;
  max-width: 170px;
  box-shadow: 0px 0px 5px 1px #f8f8f2;

}

.contact-image {
  border: 4px solid #fff;
}

.contact-image img:hover{
  opacity: 0;
}
.contact-image:hover{
  background-image: url('../../blog/images/MattWorking2.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}
#social a{
	text-decoration: none;
}

#social a:hover{
	text-decoration: none;
}
#social a:focus{
	text-decoration: none;
}

.contact-image img{
	width: 100%;
	height: auto;
}
#social ul{
	width: 400px;
	height: 100px;
}
#social li{
	display: inline-block;
	width: 100px;
	height: 100px;
}
#social img{
	position: relative;
	top: 37.5px;
}
#social .facebook:hover{
	background-color: #44A0CC;
}
#social .linkedIn:hover{
	background-color: #494949;
}
#social .twitter:hover{
	background-color: #55ACEE;
}
#social .instagram:hover{
	background-color: #FF6E3B;
}

@media(max-width: 768px){
	.contact-info p{
		font-size: 10px;
	}
}

/*==================================================================*/
/* ==========================: FOOTER  :============================*/
footer{
	background-color: #111;
	color: #fff;
	text-shadow: none;
	padding-top: 40px;
}
footer p{
	text-align: center;
}




